<%# 这是指南要求的 flash 消息显示 %>
<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %> alert-dismissible fade show" role="alert">
    <%= value %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>

<h1>Search TMDb</h1>

<%= form_tag search_path, method: :get, id: 'tmdb_form' do %>

  <%# 
    这些字段将生成一个哈希: params[:search]
    例如: params[:search][:title] 
  %>
  <div>
    <%= label_tag 'search[title]', 'Title' %>
    <%= text_field_tag 'search[title]', params.dig(:search, :title), id: 'movie_title_field' %>
  </div>
  <div>
    <%= label_tag 'search[release_year]', 'Release Year (Optional)' %>
    <%= text_field_tag 'search[release_year]', params.dig(:search, :release_year), id: 'movie_year_field' %>
  </div>
  <div>
    <%= label_tag 'search[language]', 'Language' %>
    <%= text_field_tag 'search[language]', params.dig(:search, :language) || 'en-US' %>
  </div>

  <%= submit_tag 'Search', id: 'tmdb_submit' %>
<% end %>

<br/>
<%# 这是指南要求的“添加结果表格” %>
<% if @movies.present? %>
  <table class="table" id="search_movies">
    <thead>
      <tr>
        <th>Title</th>
        <th>Release Date</th>
        <th>Description</th>
        <th>Add to RottenPotatoes</th>
      </tr>
    </thead>
    <tbody>
      <% @movies.each do |movie| %>
        <tr>
          <td><%= movie.title %></td>
          <td><%= movie.release_date %></td>
          <td><%= movie.description %></td>
          <td>
            <%#
              这是“Add movie”按钮。它是一个自己的小表单，
              会将数据 POST 到 'add_movie_path' (我们下一步创建它)。
            %>
            <%= form_tag add_movie_path, method: :post do %>
              <%# 使用 hidden_field_tag 来“秘密”传递数据 %>
              <%= hidden_field_tag 'movie[title]', movie.title %>
              <%= hidden_field_tag 'movie[release_date]', movie.release_date %>
              <%= hidden_field_tag 'movie[rating]', movie.rating %>
              <%= hidden_field_tag 'movie[description]', movie.description %>
              <%= submit_tag 'Add movie' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<%# 这是你之前添加的 "Back" 链接 %>
<%= link_to 'Back to list', movies_path %>